useDynLib(OceanView)

import (plot3D)
import (plot3Drgl)
importFrom(shape, Arrows)

importFrom(rgl, rgl.pop)
importFrom(rgl, material3d)
importFrom(rgl, mtext3d)
importFrom(rgl, plot3d)
importFrom(rgl, rgl.snapshot)
importFrom(rgl, persp3d)
importFrom(rgl, par3d)
importFrom(rgl, rgl.ids)

S3method("quiver2D", "default")
S3method("quiver2D", "matrix")
S3method("quiver2D", "array")
S3method("remap", "matrix")
S3method("remap", "array")
S3method("changeres", "matrix")
S3method("changeres", "array")
S3method("mapsigma", "matrix")
S3method("mapsigma", "array")
S3method("extract",  "matrix")
S3method("extract", "array")

export(db2cross)
export(quiver2D, quiver2Drgl, flowpath, vectorplot) 
export(remap, changeres, extract, transect, mapsigma, transectsigma)
export(Mplot, Msplit, Mcommon, Msummary, Mdescribe)        
export(tracers3D, tracers3Drgl, movieslice3D, moviepoints3D)        
export(tracers2D, tracers2Drgl)        
